/* Header container */
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px){
    .container{
        width: 396px;
    }
    .header-logo {
            font-family: 'Raleway', sans-serif;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            color: #4D5AE5;
        }
   
    .second-color {
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2E2F42;
                }
    .header-site , .contacts{
        display: none;
    }
}