/* Header container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding-top: 24px;
    padding-bottom: 22px;
}

button{
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    height: 22px;
}

.menu-burger{
    stroke: #2E2F42;
}

/* .mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
}

.close-btn-menu{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    opacity: 0.1;
    border: 1px solid #2E2F42;
    border-radius: 24px;
}

.btn-menu{
    fill: #2E2F42;
} */

@media screen and (min-width: 480px){
    .container{
        width: 428px;
    }
    .header-logo {
            font-family: 'Raleway', sans-serif;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            color: #4D5AE5;
        }
   
    .second-color {
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2E2F42;
                }
    .header-site , .contacts{
        display: none;
    }

    /* Section 1 */

        .section-info {
            background-color: #2E2F42;
            text-align: center;
            padding-top: 112px;
            padding-bottom: 112px;
    
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1x.jpg), url(../images/people-office-@2x.jpg);
            background-size: cover;
            min-width: 428px;
        }
        .caption {
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--caption-text-color);
        }

        /* Section 2 */

        .icon{
            display: none;
        }

}